.location-wrap {
    height: 60px;
    background-color: #006955;
    box-sizing: border-box;
}
.btn-home {
    width: 60px;
    height: 60px;
    border: none;
    border-right: 1px solid gray;
    background-color: #006955;
    cursor: pointer;
    color: white;
}
.common-layout {
    width: 1180px;
    /* margin: 0 auto; */
}
.location-wrap>.common-layout>div{
    width: 100%;
    display: flex;
}
.location-nav-wrap{
    line-height: 60px;
    margin-left: 20px;
    font-size: large;
    font-weight: bold;
}
.location-nav-wrap span{
    color: white;
}