body{
    padding: 0;
    margin: 0;
}
.container{
    text-align: center;
}
.container>.page_title{
    width: 1180px;
    margin: 0 auto 60px;
    padding-top: 100px;
}
.container>.page_title>.title{
    font-size: 40px;
}
.container>.contents{
    width: 1180px;
    margin: 0 auto 100px;
    min-height: 400px;
}
.container>.contents>.tab_wrap>.tab_box{
    width: 1176px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 60px;
    /* height: 60px; */
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: -4px;
}
.container>.contents>.tab_wrap>.tab_box>.tabList{
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    border-bottom: 3px solid rgb(2, 114, 90); 
    letter-spacing: -1px; 
}
.container>.contents>.tab_wrap>.tab_box>.tabList a:hover{
    color: rgb(2, 114, 90);
    font-weight: 700;
}
.container>.contents>.tab_wrap>.tab_box>.tabList.active{
    position: relative;
    border-left: 3px solid rgb(2, 114, 90);
    border-top: 3px solid rgb(2, 114, 90);
    border-right: 3px solid rgb(2, 114, 90);
    border-bottom: none;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
    font-weight: 700;
}
.container>.contents>.tab_wrap>.tab_box>.tabList.active a{
    color: rgb(2, 114, 90);
}
.container>.contents>.tab_wrap>.tab_content{
    width: 1180px;
    text-align: left;
    margin-bottom: 40px;
    /* 나중에 마진 통일 */
}
/* 소개 */
.container>.contents>.tab_wrap>.tab_content>.prog_cont{
    text-align: left;
}
.container>.contents>.tab_wrap>.tab_content>.prog_cont .pc_text{
    border-top: 1px solid #ddd;
    padding-top: 50px;
    /* padding-bottom: 78px; */
    word-break: break-word;
    line-height: 1.5rem;

}
.container>.contents>.tab_wrap>.tab_content>.prog_cont .prog_wrap{
    /* line-height: 30px;
    margin-bottom: 30px; */
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 0;
}
.container>.contents>.tab_wrap>.tab_content>.prog_cont .prog_left{
    float: left; 
    font-size: 24px;
    line-height: 60px;
}
.container>.contents>.tab_wrap>.tab_content>.prog_cont .prog_left>strong{
    display: block;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.625rem;
}
.container>.contents>.tab_wrap>.tab_content>.prog_cont .prog_left>p{
    font-size: 17px;
    font-weight: 450;
    line-height: 2.1;
    letter-spacing: -1.5px;
    width: 490px;

}
.container>.contents>.tab_wrap>.tab_content>.prog_cont .prog_right{
    line-height: 30px;
}
/* 의료진 */
.container>.contents>.tab_wrap>.tab_content>.doc_list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
}
.container>.contents>.tab_wrap>.tab_content>.doc_list li{
    /* border: 1px solid black; */
    width: 380px;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-left: 20px;
    /* padding-left: 40px; */
}
.container>.contents>.tab_wrap>.tab_content>.doc_list li:nth-child(1){
    margin-left: -1px;
}
.container>.contents>.tab_wrap>.tab_content>.doc_list li:nth-child(4){
    margin-left: -1px;
}
.container>.contents>.tab_wrap>.tab_content>.doc_list .doc_info{
    display: block;
    position: relative;
    color: #fff;
    background: #7c8f9c;
    width: 380px;  
}
.container>.contents>.tab_wrap>.tab_content>.doc_list .info{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 35px 40px 0.75rem;
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
}
.container>.contents>.tab_wrap>.tab_content>.doc_list .info>.img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 240px;
    height: 100%;
}
.container>.contents>.tab_wrap>.tab_content>.doc_list .info>.tit{
    position: relative;
    margin-bottom: 1.25rem;
    font-weight: 500;
    line-height: 30px;
}
.container>.contents>.tab_wrap>.tab_content>.doc_list .info>.tit>.x{
    display: block;
}
.container>.contents>.tab_wrap>.tab_content>.doc_list .info>.tit>.t{
    font-size: 2rem;
}
.container>.contents>.tab_wrap>.tab_content>.doc_list .info>.txt{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 56%;
    max-width: 19rem;
    min-width: 5rem;
    overflow: hidden;
    cursor: pointer;
    line-height: 20px;
}
.container>.contents>.tab_wrap>.tab_content>.doc_list .btn_w{
    /* border: 1px solid black; */
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;
    background-color: rgb(2, 114, 90);
}
.container>.contents>.tab_wrap>.tab_content>.doc_list .reserBtn{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container>.contents>.tab_wrap>.tab_content>.doc_list .btn_w .reser_icon{ 
    width: 20px;
    height: 20px;
    /* background: url(image/comm_pageBtn_icon.png) no-repeat 50% 50%; */
    background: url(image/btn_icon_arw_db.png) no-repeat 50% 50%;
    background-color: #fff;
    border-radius: 50%;
    background-size: 1rem auto;
    margin-left: 10px;



}
/* 진료시간표 */
.container>.contents>.tab_wrap>.tab_content>.sc_top{
    display: flex;
    justify-content: space-between;
}
.container>.contents>.tab_wrap>.tab_content .sc_left{
    font-size: 16px;
    line-height: 22px;
}
.container>.contents>.tab_wrap>.tab_content .sc_right{
    font-size: 14px;
}
.container>.contents>.tab_wrap>.tab_content .sc_right>span{
    margin-right: 7px;
    margin-left: 17px;
}
.container>.contents>.tab_wrap>.tab_content .dept_icon{
    color: #0770bb;
    font-size: 16px;
}
.container>.contents>.tab_wrap>.tab_content .center_icon{
    color: #e3751c;
    font-size: 18px;
}
.container>.contents>.tab_wrap>.tab_content>table{
    margin-top: 20px;
    width: 100%;
}
.container>.contents>.tab_wrap>.tab_content>table>thead{
    /* background-color: #f6f6f6; */
    background-color: #F7F9FB;
}
.container>.contents>.tab_wrap>.tab_content>table>thead tr:first-child{
    border-top: 3px solid #dddddd;
}
.container>.contents>.tab_wrap>.tab_content>table>thead th{
    position: relative;
}
.container>.contents>.tab_wrap>.tab_content>table>thead th>p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container>.contents>.tab_wrap>.tab_content>table>thead th{
    font-size: 16px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    border: 1px solid #dddddd;
    font-weight: 700;
}
.container>.contents>.tab_wrap>.tab_content>table>tbody{
    text-align: center;
}
.container>.contents>.tab_wrap>.tab_content>table>tbody td{
    border: 1px solid #dddddd;
    line-height: 25px;
    word-break: keep-all;
    padding: 10px 20px;
    position: relative;
    line-height: 40px;
    vertical-align: middle;
}
/* .container>.contents>.tab_wrap>.tab_content>table>tbody tr{
    height: 30px;
} */
.container>.contents>.tab_wrap>.tab_content>table>tbody .name{
    font-size: 18px;
    text-align: center;
    font-weight: 650;
    line-height: 20px;
}
.container>.contents>.tab_wrap>.tab_content>table>tbody img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

.container>.contents>.tab_wrap>.tab_content>table>tbody .text{
    font-size: 16px;
    color: #333;
    text-align: left;
    line-height: 25px;
}
.container>.contents>.tab_wrap>.tab_content>table>tbody .btn_res{
    background-color: #0770bb;
    color: white;
    border: none;
    font-size: 12px;
    min-width: 88px;
    height: 30px;
}
.container>.contents>.tab_wrap>.tab_content>table>tbody .d_info{
    vertical-align: middle; 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
/* 위치 */
.container>.contents>.tab_wrap>.tab_content>.floor_map{
    /* display: flex;
    flex-wrap: wrap; */
    display: block;
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #dddddd;
}
.container>.contents>.tab_wrap>.tab_content>.floor_map h4{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -1.5px;
    margin-top: 10px;
    margin-left: 10px;
}
.container>.contents>.tab_wrap>.tab_content>.floor_map .fm_text{
    font-size: 1.75rem;
    color: rgb(2, 114, 90);
    margin-right: 5px;
}
.container>.contents>.tab_wrap>.tab_content>.floor_map .fm_img{
    text-align: center;
}
.container>.contents>.tab_wrap>.tab_content>.floor_map .fm_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* margin-left: -1.25rem;
    margin-bottom: -0.5rem;
    letter-spacing: -1px; */
}
.container>.contents>.tab_wrap>.tab_content>.floor_map .fm_list>li{
    display: inline-flex;
    align-items: center;
    margin: 0 5px 5px 10px;
}
/* 탭 */
.container>.contents>.tab_wrap .tab_content{
    display: none;
}
.container>.contents>.tab_wrap .tab_content.active{
    display: block;
}