.wapper {
    position: relative;
    margin: 0;
    min-height: 100%;
    box-sizing: border-box;
    min-width: 370px;
    background-color: white;
}


.header_nav {
    width: 100%;
    height: 100px;
    background-color: rgb(14, 106, 85);
    margin: 0 0 100px 0;
    padding: 0 25px 0 25px;
    box-sizing: border-box;
}
.w {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.logo_img > img {
    width: 130px;
    margin-right: 150px;
}
.header_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    max-width: 1180px;
}
.reserv_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 -2rem;
    padding: 0;
    flex: 1;
    margin-right: 200px;
}
.reserv_menu li {
    margin-left: 1.5rem;
}
.reserv_menu a {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 1.25rem;
    white-space: nowrap;
    color: white;
    cursor: pointer;
}
.line {
    width: 4rem;
    height: 2.5rem;
}
.reservIcon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}


.reserv_contents {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.reserv_contents > article {
    padding-top: 30px;
    padding-bottom: 6.25rem;
    overflow: hidden;
}
.reserv_contents > article > section {
    padding : 0 25px;
    box-sizing: border-box;
}
.reserv_contents > article > section > .in_w {
    margin: 0 auto;
    max-width: 1180px;
}


.cnt_resev {
    border-top: 4px solid rgb(10, 80, 60);
    border-bottom: 4px solid rgb(10, 80, 60);
}
.c_resev_step > li {
    display: block;
    border-bottom: 2px solid lightgray;
}
.stepBox > dt {
    display: flex;
    justify-content: space-between;
}

.stepBoxTitle, .stepBoxVal {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    margin: 0;
    padding: 1.5rem 0;
    padding-right: 50px;
    min-height: 110px;
    box-sizing: border-box;
}
.stepBoxTitle > input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;

    /* 크기 설정 */
    width: 35px;
    height: 35px;
    background-color: rgba(235, 235, 235);
    border: 2px solid rgba(235, 235, 235);
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* ::after 가상 요소 위치를 위한 설정 */
}
.stepBoxTitle > input[type=checkbox]::after {
    content: '✔'; /* 기본 상태에서 체크 표시 */
    color: black;  /* 검정색 체크 표시 */
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 체크된 후 배경색과 글자색 변경 */
.stepBoxTitle > input[type=checkbox]:checked {
    background-color: rgb(10, 80, 60);
    border: 2px solid rgb(10, 80, 60);
    border-radius: 50%;
}
.stepBoxTitle > input[type=checkbox]:checked::after {
    color: white; /* 체크된 후 체크 표시를 흰색으로 변경 */
}
.stepBoxTitle > .t {
    font-size: 1.75rem;
    font-weight: 500;
}
.stepBoxVal > span {
    font-size: 1.75rem;
    font-weight: 700;
    word-spacing: 1.2rem;
    color: rgb(14, 106, 85);
}
.stepDisplay {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}
.nav_resev_wrap {
    margin-bottom: 2.5rem;
}
.nav_resev_box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1px;
    padding-top: 1px;
}
.nav_resev_box > .active {
    background-color: rgb(14, 106, 85);
    border: 1px solid rgb(14, 106, 85);
}
.nav_resev_box > .active > a {
    background-color: rgb(14, 106, 85);
    border: 1px solid rgb(14, 106, 85);
    color: white;
}
.nav_resev_list {
    flex: 1;
    background-color: white;
    border : 1px solid #ddd;
    box-sizing: border-box;
    min-height: 3.5rem;
}
.nav_resev_list a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    height: 100%;
    text-decoration: none;
    font-size: 1.125rem;
    box-sizing: border-box;
    cursor: pointer;
}

.choiceArea {
    max-height: 500px;
    padding: 0;
    margin-bottom: 2.25rem;
}
.choiceArea {
    display: none;
}
.choiceArea.active {
    display: block; /* active 클래스가 있으면 보이도록 설정 */
}
.choiceArea > ul, .choiceArea2 > ul {
    display: flex;
    flex-wrap: wrap;
}
.choiceArea > ul > li {
    margin-top: 1rem;
    width: calc(100% / 6);
    box-sizing: border-box;
    padding-right: 1rem;
}
.choiceArea li:nth-child(6n) {
    padding-right: 0;
}
.choiceArea > ul > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0.625rem;
    height: 11.25rem;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    border: 1px solid #dce0e8;
    box-sizing: border-box;
    overflow: hidden;
}
.choiceArea > ul > li > a:hover {
    border: 3px solid #c7c7c7;
}

.choiceArea .active a {
    border: 3px solid rgb(14, 106, 85);
}

.choiceArea > ul > li > a > .tit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2.5rem;
    line-height: 1.2;
    text-align: center;
    word-break: break-all;
}
.choiceArea > ul > li > a > .img {
    margin-bottom: -0.5rem;
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center
}
.choiceArea > ul > li > a > .img > img {
    vertical-align: middle;
    max-width: 100%;
}
#center .img, #clinic .img {
    justify-content: center;
    width: 4rem;
    height: 4em;
}

.noticeBox {
    display: flex;
    padding : 30px 50px;
    background: #f7f9fb;
    border: 1px solid #dce1e8;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    min-width: 375px;
    width: 100%;
}
.noticeBoxInner {
    position: relative;
    margin: 0;
    padding: 0;
}
.noticeTitle {
    display: flex;
    align-items: center
}
.noticeTitle > .reservIcon {
    top : -5%;
    width: 2rem;
    height: 2rem;
    color: rgb(10, 80, 60);
}
strong {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    padding-top: 0.3rem;
}
.noticeBox > ul {
    display: block;
    line-height: 30px;
}
.noticeBoxInner li {
    margin-bottom: 5px;
    padding-left: 0.625rem;
    line-height: 1.5;
}

.choiceArea2 {
    display: none;
    padding: 0;
    margin-bottom: 2.25rem;
}


.choiceArea2 > ul > li {
    border: 1px solid #dce0e8;
    padding: 0;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
    display: block;
    width: 32.4%;
    box-sizing: border-box;
    overflow: hidden;
}

.choiceArea2 > ul > li:hover {
    outline: 3px solid #c7c7c7; /* outline을 사용하여 요소 크기를 유지하면서 강조 효과 추가 */
    border: 1px solid #dce0e8; /* 기존 border 두께를 유지 */
}
.choiceArea2.active {
    display: block; /* active 클래스가 있을 때만 보이도록 합니다 */
}
.choiceArea2 .active {
    outline: 3px solid rgb(14, 106, 85);
    border: 1px solid white;
}

.choiceArea2 li:nth-child(3n) {
    margin-right: 0;
}
.choiceArea2 > ul > li > a {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 35px 40px 0.75rem;
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.choiceArea2 > ul > li > a > .img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 100%;
}
.choiceArea2 > ul > li > a > .img > img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    object-fit: cover;
    max-width: none;
    height: 100%;
}
.choiceArea2 > ul > li > a > .tit {
    position: relative;
    margin-bottom: 1.25rem;
    font-weight: 500;
}
.choiceArea2 > ul > li > a > .tit > .t {
    font-size: 2rem;
}

.choiceArea2 .txt {
    line-height: 1.3rem;
}

.reserv_table {
    width: 100%;
    min-width: 375px;

    margin: 15px auto 80px auto;
    padding: 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    line-height: 1.5;
    text-align: center;
}
.reserv_table > tr {
    height: 3.25rem;
    min-height: 3.25rem;
    box-sizing: border-box;
}

.reserv_table th {
    width: 20%;
    max-width: 780px;
    min-width: 150px;
    padding: 0.625rem;
    text-align: center;
    unicode-bidi: isolate;
    background-color: rgba(20, 100, 50, 0.637);
    color: white;
}

.reserv_table td {
    width: 30%;
    padding: 0.625rem;
    padding-left: 30px;
    border-bottom: 1px solid #dadfe7;
}

.reserv_btnArea {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.reserv_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 2.5rem;
    width: 18.75rem;
    max-width: 100%;
    height: 3.875rem;
    background-color: #e7750e;
    border-color: #e7750e;
    box-sizing: border-box;
    cursor: pointer;
}

.reserv_btnArea span {
    font-size: 1.5rem;
    color: white;
}